@charset "utf-8";
html {
  width: 100%;
}

body {
  width: 100%;
}

.alert {
  position: fixed;
  width: 100%;
  background-color: #F8D7DA;
  padding: 15px;
}

.section {
  padding: 100px 0;
}

.section_inner {
  background-color: #eee; 
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding:15px;
}